* {
    margin: 0px;
}
body {
    background-color: #181C14;
}
h1, h2, h3, h4, h5, h6 {
    color: #ECDFCC;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}
.TopBar {
    background-color: #3C3D37;
    height: 5vh;
    display: flex;
    align-items: center;
}
.BottomBar {
    background-color: #3C3D37;
    position: absolute;
    height: 5vh;
    width: 100vw;
    bottom: 0px;
}
.Logo {
    display: flex;
    align-items: center;
}
.LogoIcon {
    height: 100%;
    max-height: 5vh; /* Ensure the image does not exceed the height of the TopBar */
    width: auto;
    margin-right: 10px; /* Add some space between the logo and the text */
    image-rendering: pixelated; /* Nearest-neighbor scaling */
    filter: sepia(50%) saturate(773%) hue-rotate(307deg) brightness(96%) contrast(93%);
}